.auto-style28 {
    width: 512px;
    height: 38px;
}

.auto-style37 {
    height: 38px;
}

.auto-style44 {
    height: 52px;
}

.auto-style45 {
    width: 512px;
    height: 46px;
}

.auto-style46 {
    width: 155px;
    height: 46px;
}

.auto-style47 {
    height: 46px;
}

.auto-style48 {
    width: 155px;
    height: 28px;
}

.auto-style49 {
    height: 28px;
}
